.custom-button .primary {
  background: rgba(var(--button-primary), 1);
  color: rgba(var(--on-button-primary), 1);
  padding: 0.3125rem 1.875rem;
}
.custom-button .primary:hover {
  background: rgba(var(--button-primary-hover), 1);
}
.custom-button .secondary {
  background: rgba(var(--button-secondary), 1);
  color: rgba(var(--on-button-secondary), 1);
  padding: 0.3125rem 1.875rem;
}
.custom-button .secondary:hover {
  background: rgba(var(--button-secondary-hover), 1);
}
.custom-button .tertiary {
  background: rgba(var(--button-secondary-option), 1);
  color: rgba(var(--on-button-secondary-option), 1);
  padding: 0.3125rem 1.875rem;
}
.custom-button .tertiary:hover {
  background: rgba(var(--button-secondary-option-hover), 1);
}