@use '../../styles/_media-queries' as *;
@use '../../styles/_mixins' as *;

.columns {
  img {
    width: 100%;
  }
  
  > div {
    @include flex-container(column, center, center, nowrap, 24px);
    > div {
      order: 1;
    }
    @include l {

      @include flex-container(row, center, center, nowrap, 24px);

      > div {
        flex: 1;
        order: unset;
      }
    }
    > .columns-img-col {
      order: 0;
    }
    > .columns-img-col img {
      display: block;
    }
  }
}
