.columns img {
  width: 100%;
}
.columns > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 1.5rem;
}
.columns > div > div {
  order: 1;
}
@media screen and (width >= 54.13rem) {
  .columns > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 1.5rem;
  }
  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
.columns > div > .columns-img-col {
  order: 0;
}
.columns > div > .columns-img-col img {
  display: block;
}