.columns > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 24px;
}
.columns > div > div {
  order: 1;
}
@media screen and (min-width: 54.13rem) {
  .columns > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
.columns > div > .columns-img-col {
  order: 0;
}
.columns > div > .columns-img-col img {
  display: block;
}
.columns img {
  width: 100%;
}