@use '../../styles/_all-helpers' as *;

.accordion {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    cursor: pointer;
    border-bottom: 1px solid rgb(var(--color-pure-black));

    &:last-child {
      border-bottom: none;
    }
  }

  &-trigger {
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    @include flex-container(row, space-between, center);
    position: relative;
  }

  &-title {
    font-size: remUnit(20px);
    font-weight: 500;
    line-height: remUnit(28px);
    margin-right: remUnit(32px);
  }

  &-icon {
    position: absolute;
    right: remUnit(16px);
    width: remUnit(24px);
    height: remUnit(24px);
    transition: transform 0.3s ease;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: currentcolor;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform 0.3s ease;
    }

    &::before {
      width: remUnit(24px);
      height: remUnit(3.2px);
    }

    &::after {
      width: remUnit(3.2px);
      height: remUnit(24px);
    }
  }

  &-trigger[aria-expanded='true'] .accordion-icon::after {
    transform: translate(-50%, -50%) rotate(90deg);
    opacity: 0;
  }

  &-panel {
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    max-height: 0;
    padding: 0 remUnit(16px);
    will-change: max-height;

    &:not([hidden]) {
      max-height: remUnit(1000px);
    }

    &[hidden] {
      display: none;
    }
  }

  &-content {
    padding: 0 0 remUnit(16px);

    picture {
      margin-bottom: remUnit(16px);
      display: block;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}