.accordion {
  /* Show content when checked */
}
.accordion-item {
  position: relative;
  border: 1px solid rgb(var(--color-pure-black));
  padding: 0.5rem 0;
}
.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5rem 0;
}
.accordion-title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
  margin: 0;
  margin-right: 3rem;
}
.accordion-panel {
  display: grid;
  font-size: 0.875rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  grid-template-rows: 0fr;
  opacity: 0;
}
.accordion-answer {
  font-size: 1rem;
  line-height: 1.75rem;
  overflow: hidden;
}
.accordion-container {
  border: 1px solid rgb(var(--color-pure-black));
}
.accordion .icon {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}
.accordion .icon-plus {
  transform: translateY(-50%) rotate(0deg);
  opacity: 1;
}
.accordion .icon-plus::before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
}
.accordion .icon-minus {
  transform: translateY(-50%) rotate(0deg);
  opacity: 0;
}
.accordion .icon-minus::before {
  content: "-";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
}
.accordion .hidden-input:checked ~ .accordion-panel {
  grid-template-rows: 1fr;
  opacity: 1;
  padding: 0.5rem 0;
}
.accordion .hidden-input:checked ~ .accordion-header .icon-minus {
  transform: rotate(180deg);
  opacity: 1;
}
.accordion .hidden-input:checked ~ .accordion-header .icon-plus {
  transform: rotate(45deg);
  opacity: 0;
}
.accordion .hidden-input {
  display: none;
}