@use '../../styles/_all-helpers' as *;

.breadcrumbs {
  nav {
    padding: 1rem 0;
  }

  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  li {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      &::after {
        content: "|";
        margin: 0 0.5rem;
        color: var(--text-color, #666);
      }
    }
  }

  a {
    color: var(--link-color);
    text-decoration: none;
    font-size: 0.875rem;
    border-radius: unset;

    &:hover {
      @include box-shadow(var(--color-team-red), 2px);
      cursor: pointer;
    }

    &[aria-current="page"] {
      color: var(--text-color, #333);
      pointer-events: none;
    }
  }
}