.landing-page-header {
  position: relative;
  min-height: 18.75rem;
  width: 100%;
  height: 100vh;

  @include media-m {
    height: 50rem;
  }

  @include media-l {
    height: 56.25rem;
  }

  .landing-page-header-wrapper {
    max-width: unset;
    padding: 0;
  }

  > div {
    max-width: 75rem;
    margin: 0 auto;
  }

  .landing-page-header-text {
    position: absolute;
    max-width: 28.625rem;
    padding: 1.25rem;
    background: rgba(var(--color-pure-black), 1);
    box-shadow: inset 0 0 12.5rem rgba(var(--color-pure-black));
    backdrop-filter: blur(5px);
  }

  h1,
  p,
  h3 {
    margin-left: auto;
    margin-right: auto;
    color: rgba(var(--color-pure-white), 1);
    z-index: 10;
    font-weight: normal;
  }

  p:first-child {
    color: rgba(var(--color-team-red), 1);
    font-weight: bold;
  }

  picture {
    position: absolute;
    inset: 0;
    object-fit: cover;
    box-sizing: border-box;
  }
  
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.adobe-ue-edit .landing-page-header {
  height: 37.5rem;
}
