@charset "UTF-8";
.landing-page-header {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: clip;
  height: 30rem;
}
.landing-page-header-content {
  left: 7rem;
  position: absolute;
  top: 50%;
  left: 2rem;
  max-width: 436px;
  transform: translate(0, -50%);
}
.landing-page-header-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(67% + 64px);
  clip-path: polygon(0 100%, calc(100% - 160px) 100%, 100% 0, 0 0);
  transform: translate(0, -5%) scaleY(90%);
}
.landing-page-header-card-image {
  width: 400px;
  height: auto;
}
.landing-page-header-card-image-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-15%, -50%);
  z-index: 5;
}
.landing-page-header-card-image img {
  object-fit: cover;
  display: block;
  height: 100%;
  width: 100%;
}
.landing-page-header-background-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(33% + 64px);
  display: block;
  overflow: hidden;
  transform: translate(0, 5%) scaleY(90%);
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 160px 0);
}
.landing-page-header-background-image div {
  height: 100%;
}
.landing-page-header-background-image img {
  object-fit: cover;
  display: block;
  height: 100%;
  width: 100%;
}

.bulletpoints-check-green ul li::before {
  content: "✓";
  color: #008000;
}