header {
  --nav-height: 4.0625rem;
  background: rgba(var(--color-pure-black), 1);
  color: rgba(var(--color-pure-white), 1);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 24px;
  background: rgba(var(--color-pure-black), 1);
  width: 100%;
  position: fixed;
  padding: 24px;
  z-index: 100;
}
header nav .nav-search {
  position: fixed;
  right: 70px;
  margin-left: auto;
  max-width: 220px;
}
header nav .nav-search input {
  color: rgba(var(--color-pure-black), 1);
  font-size: var(--body-size-xs);
  background: transparent;
  border: 1px solid var(--color-pure-white);
  border-radius: 4px;
  padding: 8px 12px 8px 36px;
  transition: width 0.3s ease;
}
header nav .nav-search input:focus {
  outline: none;
  width: 250px;
}
header nav .nav-search input::placeholder {
  color: var(--color-pure-white);
  opacity: 0.7;
}
header nav .nav-search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
}
header nav .nav-search .nav-icon-search {
  margin-left: 10px;
}
header nav .nav-search .nav-icon-search svg {
  fill: rgba(var(--color-pure-white));
}
header nav .nav-search .search-results {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 296px;
  overflow-y: auto;
  background: #fff;
  list-style: none;
}
header nav .nav-dropdown {
  background: rgba(var(--menu-inner-color), 1);
  color: rgba(var(--color-pure-black), 1);
  position: absolute;
  top: var(--nav-height);
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}
@media (width >= 90rem) {
  header nav .nav-dropdown {
    display: flex;
  }
}
header nav .nav-dropdown-close {
  color: rgba(var(--color-pure-black), 1);
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: var(--heading-3);
  border: unset;
  transition: color 0.27s ease;
  background: transparent;
}
header nav .nav-dropdown-close:hover {
  color: rgba(var(--color-team-red), 1);
}
header nav .nav-items {
  margin: 0;
  display: none;
}
header nav .nav-item:not(.nav-item-empty) .nav-trigger::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 2px solid currentcolor;
  border-bottom: 2px solid currentcolor;
  margin-left: 8px;
  vertical-align: middle;
  transition: transform 0.3s ease;
}
header nav .nav-item {
  font-size: var(--body-size-xs);
}
header nav .nav-trigger {
  color: var(--color-pure-white);
  text-decoration: none;
  transition: opacity 0.3s ease;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font: var(--body-size-xs);
  cursor: pointer;
  position: relative;
  opacity: 1;
}
header nav .nav-trigger::after {
  transform: rotate(45deg);
}
header nav .nav-trigger:hover {
  opacity: 1;
}
header nav .nav-logo {
  position: absolute;
  left: 32px;
  display: flex;
  align-items: center;
  margin-top: 5px;
}
header nav .nav-logo a {
  margin: 0;
}
header nav .nav-logo img {
  background: rgba(var(--color-pure-white), 1);
  max-height: 40px;
  width: auto;
}
header nav .nav-trigger[aria-expanded=true] {
  opacity: 1;
}
header nav .nav-trigger[aria-expanded=true] ~ .nav-dropdown {
  display: flex;
}
header nav .nav-trigger[aria-expanded=true]::after {
  transform: rotate(225deg);
}
header nav:hover .nav-trigger {
  opacity: 0.5;
}
header nav:hover .nav-trigger:hover {
  opacity: 1;
}
header nav .nav-hamburger {
  position: fixed;
  right: 0;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
  padding: 0 20px;
  z-index: 2;
}
header nav .nav-hamburger button {
  background: black;
  border: none;
  padding: 0;
  cursor: pointer;
  height: 32px;
  width: 32px;
  position: relative;
}
header nav .nav-hamburger .nav-hamburger-icon,
header nav .nav-hamburger .nav-hamburger-icon::before,
header nav .nav-hamburger .nav-hamburger-icon::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: rgba(var(--color-pure-white), 1);
  transition: transform 0.3s ease;
}
header nav .nav-hamburger .nav-hamburger-icon {
  top: 50%;
  transform: translateY(-50%);
}
header nav .nav-hamburger .nav-hamburger-icon::before {
  top: -8px;
}
header nav .nav-hamburger .nav-hamburger-icon::after {
  bottom: -8px;
}
header nav .nav-hamburger.active .nav-hamburger-icon {
  background-color: transparent;
}
header nav .nav-hamburger.active .nav-hamburger-icon::before {
  transform: translateY(8px) rotate(45deg);
}
header nav .nav-hamburger.active .nav-hamburger-icon::after {
  transform: translateY(-8px) rotate(-45deg);
}
header nav[aria-expanded=true] .nav-items {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: var(--nav-height);
  left: 0;
  width: 100%;
  height: calc(100vh - var(--nav-height));
  background-color: var(--color-pure-black);
  padding: 24px;
}
header nav-items-wrapper {
  display: none;
}
header nav-items-wrapper:empty {
  pointer-events: none;
}
@media (width >= 90rem) {
  header nav .nav-dropdown {
    display: none;
    position: fixed;
    opacity: 1;
  }
  header nav .nav-hamburger {
    display: none;
  }
  header nav .nav-search-box {
    background: rgba(var(--color-pure-white), 1);
  }
  header nav .nav-search-box .icon svg {
    fill: rgba(var(--color-pure-black));
  }
  header nav .nav-items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row nowrap;
    gap: 24px;
  }
}