.hero {
  position: relative;
  min-height: 18.75rem;
  width: 100%;
  height: calc(100vh - 6.25rem);
}
.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}
.hero > div {
  max-width: 75rem;
  margin: 0 auto;
}
.hero .hero-text {
  position: absolute;
  max-width: 28.625rem;
  padding: 1.25rem;
  background: rgba(var(--color-pure-black), 1);
  box-shadow: inset 0 0 12.5rem rgba(var(--color-pure-black));
  backdrop-filter: blur(5px);
}
.hero h1,
.hero p,
.hero h3 {
  margin-left: auto;
  margin-right: auto;
  color: rgba(var(--color-pure-white), 1);
  z-index: 10;
  font-weight: normal;
}
.hero p:first-child {
  color: rgba(var(--color-team-red), 1);
  font-weight: bold;
}
.hero picture {
  position: absolute;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}
.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.adobe-ue-edit .hero {
  height: 100%;
}