.teaser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
  gap: 0;
  width: 100%;
}
.teaser-image {
  width: 100%;
}
.teaser-image img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
.teaser-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column nowrap;
  gap: 0;
  gap: 1rem;
  padding: 1.5rem;
}
.teaser-content h1, .teaser-content h2, .teaser-content h3, .teaser-content h4, .teaser-content h5, .teaser-content h6 {
  margin: 0;
}
.teaser-content .pretitle {
  color: rgba(var(--highlight), 1);
  font-weight: var(--font-bold);
  margin: 0;
}
.teaser-content .description {
  margin: 0;
}