.teaser {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1.5rem;
  place-items: stretch stretch;
  width: 100%;
}
.teaser-image {
  width: 100%;
  height: auto;
}
.teaser-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.teaser-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column nowrap;
  gap: 0;
  gap: 1rem;
  padding: 1.5rem;
}
.teaser-content h1, .teaser-content h2, .teaser-content h3, .teaser-content h4, .teaser-content h5, .teaser-content h6 {
  margin: 0;
}
.teaser-content .pretitle {
  color: rgba(var(--highlight), 1);
  font-weight: var(--font-bold);
  margin: 0;
}
.teaser-content .description {
  margin: 0;
}
@media (width >= 46.6rem) {
  .teaser {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    place-items: stretch stretch;
    align-items: center;
  }
}