@use '../../styles/_media-queries' as *;
@use '../../styles/_mixins' as *;

.teaser {
  @include grid-container(1fr, auto, remUnit(24px));
  width: 100%;
  
  &-image {
    width: 100%;
    height: auto;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-content {
    @include flex-column-start;
    gap: remUnit(16px);
    padding: remUnit(24px);

    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }

    .pretitle {
      @include text-color(var(--highlight));
      font-weight: var(--font-bold);
      margin: 0;
    }

    .description {
      margin: 0;
    }
  }

  @include media-m {
    @include grid-container(repeat(2, 1fr), auto, remUnit(32px));
    align-items: center;
  }
}
