.articlefeed {
    background: lightgray;
}
.articles-container {
    display: grid;
    gap: 12px;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
}
.article {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
}
.article img {
    max-width: 100%;
    height: auto;
}
