@use '../../styles/_all-helpers' as *;

.article {
  @include border(var(--color-darker-gray));
  padding: remUnit(15px);
  margin-bottom: remUnit(20px);
  text-decoration: unset;
  
  &feed {
    background: var(--color-light-gray);
  }
  &-container {
    @include grid-container(repeat(3, 1fr), null, 12px);
    margin-top: remUnit(20px);
  }
  h2 {
    text-decoration: unset;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
