@use '../../styles/mixins/_all-helpers' as *;

.carousel {
  $carousel: &;
  position: relative;
  margin: 0 auto;
  max-width: var(--content-width);

  &-slides-container {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }

  &-slides {
    @include flex-container;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    list-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-slide {
    @include flex-item(0, 0, 100%);
    scroll-snap-align: start;
    position: relative;
    gap: remUnit(32px);

    &[aria-hidden='true'] {
      visibility: hidden;
    }

    &-image {
      width: 100%;
      @include flex-item(1);
      
      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
      }
    }

    &-content {
      position: absolute;
      @include flex-column-start;
      max-width: 100%;
      @include text-color(var(--color-pure-white));
      @include bg-color(var(--color-pure-black), 0.7);
      padding: remUnit(20px);
      box-shadow: inset 0 0 remUnit(200px) #000;
      bottom: remUnit(75px);
      z-index: 5;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        margin: 0;
      }

      .carousel-buttons {
        @include flex-container(row, flex-start, center, nowrap, remUnit(16px));
        margin-top: remUnit(24px);

        a {
          text-decoration: none;
          margin: 0;

          &.secondary {
            @include bg-color(transparent);
            @include border(var(--color-pure-white));
            @include text-color(var(--color-pure-white));

            &:hover {
              @include bg-color(var(--color-pure-white), 0.2);
            }
          }
        }
      }
    }
  }

  &-navigation-buttons {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
    @include flex-container(row, space-between);
    padding: 0 remUnit(16px);
    pointer-events: none;

    button {
      width: remUnit(48px);
      height: remUnit(48px);
      border: 0;
      border-radius: 50%;
      background-color: var(--overlay-background-color);
      cursor: pointer;
      pointer-events: all;
      position: relative;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--overlay-background-hover-color);
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: remUnit(12px);
        height: remUnit(12px);
        border-style: solid;
        border-width: remUnit(3px) remUnit(3px) 0 0;
        border-color: var(--background-color);
      }

      &.slide-prev::before {
        transform: translate(-25%, -50%) rotate(-135deg);
      }

      &.slide-next::before {
        transform: translate(-75%, -50%) rotate(45deg);
      }
    }
  }

  &-slide-indicators {
    position: absolute;
    @include flex-container(row, center, center, nowrap, remUnit(8px));
    z-index: 3;
    bottom: remUnit(15px);
    margin: remUnit(16px) 0;
    padding: 0;
    list-style: none;
    width: 100%;

    button {
      width: remUnit(16px);
      height: remUnit(16px);
      border: 0;
      border-radius: 50%;
      padding: 0;
      @include bg-color(var(--color-pure-white), 0.3);
      cursor: pointer;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.5;
      }

      &[disabled] {
        opacity: 1;
        cursor: default;
      }
    }
  }

  // Style variants
  &.carousel-light {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  &.carousel-dark {
    background-color: var(--overlay-background-color);
    color: var(--background-color);

    #{$carousel}-navigation-buttons button {
      background-color: var(--background-color);

      &::before {
        border-color: var(--text-color);
      }

      &:hover {
        background-color: var(--overlay-background-hover-color);
      }
    }

    #{$carousel}-slide-indicators button {
      background-color: var(--background-color);
    }
  }
}

// Add specific handling for AEM iframe
.adobe-ue-edit {
  .carousel {
    &-slide {
      &-image {
        img {
          height: remUnit(600px);
        }
      }
    }
  }
}

@include media-l {
  .carousel {
    &-slide {
      @include flex-column-start;

      &-image,
      &-content {
        @include flex-item(1);
      }
    }

    &-navigation-buttons {
      button {
        width: remUnit(40px);
        height: remUnit(40px);
      }
    }
  }
}