@use '../../styles/mixins/_all-helpers' as *;

footer {
  background-color: rgba(var(--color-light-gray));
  font-size: var(--body-size-xs);
  .footer {
    > div {
      margin: auto;
      max-width: remUnit(1200px);
      padding: remUnit(40px) remUnit(24px) remUnit(24px);
    }
    p {
      margin: 0;
    }
  }
  @include media-l {
    .footer > div {
      padding: remUnit(40px) remUnit(32px) remUnit(24px);
    }
  }
}
