footer {
  background-color: rgba(var(--color-light-gray));
  font-size: var(--body-size-xs);
}
footer .footer > div {
  margin: auto;
  max-width: 75rem;
  padding: 2.5rem 1.5rem 1.5rem;
}
footer .footer p {
  margin: 0;
}
@media screen and (min-width: 54.13rem) {
  footer .footer > div {
    padding: 2.5rem 2rem 1.5rem;
  }
}