.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  width: 100%;
}
.post-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column nowrap;
  gap: 0;
  transition: transform 0.3s ease;
  height: 100%;
}
.post-card:hover {
  transform: translateY(-4px);
}
.post-card-image {
  position: relative;
  width: 100%;
}
.post-card-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.post-card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 1.5rem;
  flex-grow: 1;
}
.post-card-content .post-card-title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
}
.post-card-content .post-card-title .button a {
  --btn-bg: var(--btn-primary-bg);
  --btn-color: var(--btn-primary-color);
  --btn-border: var(--btn-primary-border);
  --btn-hover-bg: var(--btn-primary-hover-bg);
  --btn-hover-color: var(--btn-primary-hover-color);
  --btn-hover-border: var(--btn-primary-hover-border);
  --btn-hover-underline: var(--btn-primary-hover-underline);
  --btn-focus-bg: var(--btn-primary-focus-bg);
  --btn-focus-color: var(--btn-primary-focus-color);
  --btn-focus-border: var(--btn-primary-focus-border);
  --btn-disabled-bg: var(--btn-primary-disabled-bg);
  --btn-disabled-color: var(--btn-primary-disabled-color);
  --btn-disabled-border: var(--btn-primary-disabled-border);
  text-decoration: none;
  text-align: center;
  padding: var(--btn-padding);
  cursor: pointer;
}
.post-card-description {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}