@use '../../styles/mixins/_all-helpers' as *;

.social-share {
  display: flex;
  gap: remUnit(16px);
  margin: remUnit(24px) 0;

  &-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: background-color 0.3s ease;
    @include flex-row-center;

    .icon {
      width: remUnit(24px);
      height: remUnit(24px);
      @include flex-row-center;

      svg {
        width: 100%;
        height: 100%;
        &:hover {
            @include bg-color(var(--highlight));
        }
        path {
          fill: currentColor;
        }
      }
    }

  }
}