$s: 20rem;  // 375px
$m: 46.6rem; // 768px
$l: 54.13rem; // 1024px
$xl: 90rem;  // 1440px
$xxl: 120rem; // 1920px

@mixin media-s {
    @media screen and (width >= $s) {
        @content;
    }
}

@mixin media-m {
    @media screen and (width >= $m) {
        @content;
    }
}

@mixin media-l {
    @media screen and (width >= $l) {
        @content;
    }
}

@mixin media-xl {
  @media screen and (width >= $xl) {
      @content;
  }
}

@mixin media-max-s {
    @media screen and (width <= calc(#{$s} - 1px)) {
        @content;
    }
}

@mixin media-max-m {
    @media screen and (width <= calc(#{$m} - 1px)) {
        @content;
    }
}

@mixin media-max-l {
    @media screen and (width <= calc(#{$l} - 1px)) {
        @content;
    }
}

@mixin media-max-xl {
  @media screen and (width <= calc(#{$xl} - 1px)) {
      @content;
  }
}
